[Unit]
Description=Crypto trading bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u bot.py
WorkingDirectory=/home/bastien/bot-crypto
StandardOutput=inherit
StandardError=inherit
Restart=on-failure
RestartSec=10
User=bastien
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
