[Unit]
Description=Crypto trading bot
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u telegram_bot_handler.py
WorkingDirectory=/home/bastien/bot-crypto/telegram_bot
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
